In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import sys
import pickle
import math
from sklearn.linear_model import Ridge
df = pd.read_pickle('../pandas_corporate_airline_code.pkl')

In [21]:
df.head(10).dtypes

requested_date           int64
requested_month          int64
requested_year           int64
origin_airport_code       int8
dest_airport_code         int8
num_passenger          float64
departure_hour           int64
departure_minute         int64
departure_date           int64
departure_month          int64
departure_year           int64
base_fare              float64
aircode__2T              uint8
aircode__6E              uint8
aircode__9W              uint8
aircode__AF              uint8
aircode__AI              uint8
aircode__CX              uint8
aircode__EK              uint8
aircode__G8              uint8
aircode__I5              uint8
aircode__IX              uint8
aircode__LB              uint8
aircode__LX              uint8
aircode__QR              uint8
aircode__RA              uint8
aircode__S2              uint8
aircode__SG              uint8
aircode__SQ              uint8
aircode__T2              uint8
aircode__TG              uint8
aircode__UK              uint8
aircode__UL              uint8
dtype: object

In [2]:
df.keys()

Index(['requested_date', 'requested_month', 'requested_year',
       'origin_airport_code', 'dest_airport_code', 'num_passenger',
       'departure_hour', 'departure_minute', 'departure_date',
       'departure_month', 'departure_year', 'base_fare', 'aircode__2T',
       'aircode__6E', 'aircode__9W', 'aircode__AF', 'aircode__AI',
       'aircode__CX', 'aircode__EK', 'aircode__G8', 'aircode__I5',
       'aircode__IX', 'aircode__LB', 'aircode__LX', 'aircode__QR',
       'aircode__RA', 'aircode__S2', 'aircode__SG', 'aircode__SQ',
       'aircode__T2', 'aircode__TG', 'aircode__UK', 'aircode__UL'],
      dtype='object')

In [3]:
df = df.sort_values(['base_fare'])
df.head()

,requested_date,requested_month,requested_year,origin_airport_code,dest_airport_code,num_passenger,departure_hour,departure_minute,departure_date,departure_month,...,aircode__LX,aircode__QR,aircode__RA,aircode__S2,aircode__SG,aircode__SQ,aircode__T2,aircode__TG,aircode__UK,aircode__UL
355498,2,7,2016,26,70,1.0,13,45,5,7,...,0,0,0,0,0,0,0,0,0,0
355499,2,7,2016,26,70,1.0,6,50,5,7,...,0,0,0,0,0,0,0,0,0,0
405018,8,6,2017,26,70,1.0,13,30,11,6,...,0,0,0,0,0,0,0,0,0,0
404954,8,6,2017,26,70,1.0,13,30,12,6,...,0,0,0,0,0,0,0,0,0,0
404955,8,6,2017,26,70,1.0,10,30,12,6,...,0,0,0,0,0,0,0,0,0,0

In [4]:
summary = df.describe()
summary

,requested_date,requested_month,requested_year,origin_airport_code,dest_airport_code,num_passenger,departure_hour,departure_minute,departure_date,departure_month,...,aircode__LX,aircode__QR,aircode__RA,aircode__S2,aircode__SG,aircode__SQ,aircode__T2,aircode__TG,aircode__UK,aircode__UL
count,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,...,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06,1.087215e+06
mean,1.524441e+01,6.397964e+00,2.016717e+03,3.549225e+01,3.582720e+01,1.059492e+00,1.278172e+01,2.686773e+01,1.538010e+01,6.478663e+00,...,9.197813e-07,9.197813e-07,9.197813e-07,9.197813e-07,1.184881e-01,9.197813e-07,1.839563e-06,9.197813e-07,1.518375e-02,2.759344e-06
std,8.848810e+00,3.510908e+00,1.141930e+00,2.717034e+01,2.754493e+01,3.718837e-01,5.622091e+00,1.752197e+01,8.585433e+00,3.518804e+00,...,9.590523e-04,9.590523e-04,9.590523e-04,9.590523e-04,3.231853e-01,9.590523e-04,1.356304e-03,9.590523e-04,1.222833e-01,1.661126e-03
min,1.000000e+00,1.000000e+00,2.015000e+03,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+00,3.000000e+00,2.016000e+03,1.500000e+01,1.500000e+01,1.000000e+00,8.000000e+00,1.000000e+01,8.000000e+00,3.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.500000e+01,6.000000e+00,2.017000e+03,2.600000e+01,2.700000e+01,1.000000e+00,1.200000e+01,2.500000e+01,1.500000e+01,6.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.300000e+01,1.000000e+01,2.018000e+03,5.400000e+01,4.900000e+01,1.000000e+00,1.800000e+01,4.000000e+01,2.300000e+01,1.000000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,3.100000e+01,1.200000e+01,2.019000e+03,1.100000e+02,1.110000e+02,9.000000e+00,2.300000e+01,5.900000e+01,3.100000e+01,1.200000e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [5]:
summary.base_fare

count    1.087215e+06
mean     4.952268e+03
std      3.060342e+03
min      3.500000e+01
25%      3.050000e+03
50%      4.400000e+03
75%      6.138000e+03
max      5.449850e+05
Name: base_fare, dtype: float64

In [8]:
maxValue = 6138+(1.5*(6138-3050))
"maxValue = ",maxValue

('maxValue = ', 10770.0)

In [9]:
minValue = 6138-(1.5*(6138-3050))
"minValue = ",minValue

('minValue = ', 1506.0)

In [10]:
df.corr().base_fare

requested_date         0.003747
requested_month       -0.010788
requested_year        -0.134386
origin_airport_code    0.007715
dest_airport_code     -0.013375
num_passenger         -0.046761
departure_hour         0.041605
departure_minute       0.003793
departure_date         0.016650
departure_month       -0.014325
departure_year        -0.138990
base_fare              1.000000
aircode__2T           -0.010027
aircode__6E            0.010068
aircode__9W            0.003034
aircode__AF            0.026393
aircode__AI            0.010306
aircode__CX            0.025571
aircode__EK            0.000219
aircode__G8           -0.036207
aircode__I5           -0.048621
aircode__IX           -0.005449
aircode__LB           -0.006468
aircode__LX            0.007943
aircode__QR           -0.001376
aircode__RA            0.000692
aircode__S2            0.002224
aircode__SG            0.006863
aircode__SQ            0.021168
aircode__T2            0.000032
aircode__TG            0.031522
aircode__UK            0.031037
aircode__UL            0.001462
Name: base_fare, dtype: float64

In [11]:
df.cov().base_fare

requested_date         1.014607e+02
requested_month       -1.159081e+02
requested_year        -4.696402e+02
origin_airport_code    6.414968e+02
dest_airport_code     -1.127440e+03
num_passenger         -5.321854e+01
departure_hour         7.158343e+02
departure_minute       2.033929e+02
departure_date         4.374804e+02
departure_month       -1.542645e+02
departure_year        -4.897079e+02
base_fare              9.365693e+06
aircode__2T           -4.799408e-01
aircode__6E            1.538781e+01
aircode__9W            3.841415e+00
aircode__AF            1.549290e-01
aircode__AI            5.541288e+00
aircode__CX            1.061387e-01
aircode__EK            6.417612e-04
aircode__G8           -3.066299e+01
aircode__I5           -1.190525e+01
aircode__IX           -1.677411e-01
aircode__LB           -4.092982e-01
aircode__LX            2.331439e-02
aircode__QR           -4.039930e-03
aircode__RA            2.030632e-03
aircode__S2            6.528367e-03
aircode__SG            6.788003e+00
aircode__SQ            6.212920e-02
aircode__T2            1.319553e-04
aircode__TG            9.251880e-02
aircode__UK            1.161495e+01
aircode__UL            7.434779e-03
Name: base_fare, dtype: float64